.emptySpace{
  flex: 1 1 auto;
}

.mat-toolbar{
  color: white;
  background: #00053E;
}

.gold-icon{
  color:gold;
}

.button{
  border-radius: 25px;
  border-color: 2px solid rgb(83, 155, 260);
}

.button:hover{
  border: 1px solid #FFE500;
}

.menu-button{
  color: #00053E;
  font-weight: bold;
}

.menu-button:hover{
  /* border: 1px solid #FFE500; */
  color: #0072BC;
  text-decoration: underline;
  text-decoration-color: #FFE500;
}

.matMenu
{
  background-color: #FFE500;
}
