<div class="grid-container" >
    <mat-grid-list cols="2" rowHeight="350px" fxFlexAlign="stretch" fxLayoutAlign="space-evenly center" >
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Definition 1
            </mat-card-title>
            <mat-card-content>
              Encryption
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Definition 2
            </mat-card-title>
            <mat-card-content>
              Encryption
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Definition 3
            </mat-card-title>
            <mat-card-content>
              Encryption
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Defintion 4
            </mat-card-title>
            <mat-card-content>
              Encryption
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              List of Potential Defintions
            </mat-card-title>
            <mat-card-content>
              Plaintext
              Ciphertext
              Encryption
              Decryption
              Keys
              Hash
              Public Keys
              Private Keys
              Symmetric Algorithms
              Asymmetric Algorithms
              HTTPS
              End-to-end Encryption
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
