
<mat-tab-group class="tab-group">
  <mat-tab label="General" class="mat-tab-labels">
    <br><br>

    <h6 style = "text-align: center; font-size: large; font-weight: bold; color: #00053E;">
        Welcome to the world of Encryption!</h6>

      <p style = "text-align: center; font-size: large; font-weight: bold; color: #00053E;">
        Below, you will find some of the basic terms that are used when discussing this field. </p>

<div class="grid-container" >
    <mat-grid-list cols="2" rowHeight="250px" fxFlexAlign="stretch" fxLayoutAlign="space-evenly center" >

        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Plaintext
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>Ordinary, intelligible text, that is not formatted or written in code</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Cipher
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>An algorithm to encode and disguise plaintext, or to reveal encoded ciphertext</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Ciphertext
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>Text that has been encrypted with the use of a cipher</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Encryption
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>The process of securing digital data by using mathematical algorithms to encode the information</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Keys
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>In encryption, it is a chunk of information, usually a random string of numbers or letters, that can be used to encode or decode data</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Hash
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>A value derived from a hashing encryption process that cannot be used to reverse engineer the original plaintext</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              MD5 (Message-Digest Algorithm)
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>A hashing algorithm that accepts a message as an input and returns a value as its output. That value can authenticate the original message.</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Purposes of the MD5
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>MD5 has been used to verify that a file has been unaltered. It has also ben used to securely store passwords.</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
 </mat-tab>




  <mat-tab label="JPEG" class = "mat-tab-labels">
    <br><br>

    <h6 style = "text-align: center; font-size: large; font-weight: bold; color: #00053E;">
        Welcome to the JPEG section!</h6>

      <p style = "text-align: center; font-size: large; font-weight: bold; color: #00053E;">
        This section focuses on identifying and extracting information from these files. </p>


    <div class="grid-container" >
    <mat-grid-list cols="2" rowHeight="250px" fxFlexAlign="stretch" fxLayoutAlign="space-evenly center" >

        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Metadata
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>Information about a data structure, such as a file. It can define many things, including:
                modified time, created time, file ownership, and file size.</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              JPEG
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>Also referred to as JPG. A file format that is used to compress image files.</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Exchangeable Image File Format (EXIF)
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>It is included in JPEG files and
                contains an abundance of information about the file itself.
              </strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Python Image Library (PIL)
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>A library in the Python programming language that is built upon the Dictionary
                data structure. It is capable of extracting information
                from JPEG files and manipulating that information as a user chooses.
              </strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Tags
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>An object that provides keys that are used to access dictionary elements. In
                the Python Image Library, there are multiple sets of Tags including EXIFTAGS and
                GPSTAGS.
              </strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              EXIFTAGS
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>This object provides information detailing the exact qualities and
                attributes of the image.</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              GPSTAGS
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>This is the object that provides access to the dictionary items that identify
                the location-based information about an image.
              </strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Requirements for GPS/EXIF Extraction
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>Command Line Arguments<br>
              Forensic Audit Log<br>
              Provided Output<br>
              Error Handling</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
 </mat-tab>
  <!-- <mat-tab label="PDF"> <h6>Information Coming Soon....</h6> </mat-tab> -->
</mat-tab-group>


