.colored-card{
  border-radius: 10px;
  border: 4px solid #7BAFDE;
  background-color: #00053E;
  color: white;

  margin: 50px;
  width: 65%;
  height: 55%;
  overflow-y: auto;
}

.colored-card:hover{

  border: 4px solid #FFE500;
  background-color: white;
  color: #00053E;

}
/* .tab-group{
  overflow-y: hidden;
} */

.mat-tab-labels
{
 color:#7BAFDE !important;
}

.mat-tab-labels:hover{
  border: 1px solid #FFE500;
  background-color: #7BAFDE;
  color:#7BAFDE;
}
