<h6 style = "text-align: center; font-size: large; font-weight: bold; color: #00053E;">
  Thank you for taking the time to view this website!
  <br>
  The following people should be recognized for their contribution to
  the senior project which included the creation of this website: </h6>



<div class="grid-container" >
    <mat-grid-list cols="2" rowHeight="250px" fxFlexAlign="stretch" fxLayoutAlign="space-evenly center" >
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class="colored-card">
            <mat-card-title>
              Yana Kortsarts
            </mat-card-title>
            <mat-card-content>
              Advisor
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Lamar Brown
            </mat-card-title>
            <mat-card-content>
              Student
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Dominick Faust
            </mat-card-title>
            <mat-card-content>
              Student
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Matthew Savela
            </mat-card-title>
            <mat-card-content>
              Student
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
