<div class="grid-container" >
    <mat-grid-list cols="2" rowHeight="350px" fxFlexAlign="stretch" fxLayoutAlign="space-evenly center" >
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card>
            <mat-card-title>
              Yana Kortsarts
            </mat-card-title>
            <mat-card-content>
              Advisor
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card>
            <mat-card-title>
              Lamar Brown
            </mat-card-title>
            <mat-card-content>
              Student
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card>
            <mat-card-title>
              Dominick Faust
            </mat-card-title>
            <mat-card-content>
              Student
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card>
            <mat-card-title>
              Matthew Savela
            </mat-card-title>
            <mat-card-content>
              Student
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
