<div class="grid-container" >
    <mat-grid-list cols="2" rowHeight="350px" fxFlexAlign="stretch" fxLayoutAlign="space-evenly center" >
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Definition 1
            </mat-card-title>
            <mat-card-content>
              Password Cracking
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Definition 2
            </mat-card-title>
            <mat-card-content>
              Password Cracking
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Definition 3
            </mat-card-title>
            <mat-card-content>
              Password Cracking
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Defintion 4
            </mat-card-title>
            <mat-card-content>
              Password Cracking
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              List of Potential Defintions
            </mat-card-title>
            <mat-card-content>
              Password
              Password Cracking
            </mat-card-content>
          </mat-card>
          </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Maybe add some traits of a strong password
            </mat-card-title>
            <mat-card-content>
              Longer than 8 characters
              Uppercase and Lowercase Ideas
              Numbers and Special characters
              Avoid reusing a password
              Avoid easy-to-guess passwords (1234, password, etc.)
            </mat-card-content>
          </mat-card>
          </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Maybe a list of some common password cracking techniques
            </mat-card-title>
            <mat-card-content>
              Brute force
              Dictionary Search
              Phishing
              Malware
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>
