      <h6 style = "text-align: center; font-size: large; font-weight: bold; color: #00053E;">
        Welcome to the world of Password Cracking!</h6>

      <p style = "text-align: center; font-size: large; font-weight: bold; color: #00053E;">
        Below, you will find some of the basic terms and concepts that are used when discussing this field. </p>

<div class="grid-container"  fxLayoutGap = "16px grid">
    <mat-grid-list cols="2" rowHeight="250px" fxFlexAlign="stretch" fxLayoutAlign="space-evenly center" fxLayoutGap = "16px grid">

        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Password
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>String of characters that can be used to gain access to a system or service</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Password Cracking
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>Process of obtaining the password to an account using unauthorized means</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Traits of a strong password
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>Longer than 8 characters <br>
              Uppercase and Lowercase Ideas <br>
              Numbers and Special characters <br>
              Avoid reusing a password <br>
              Avoid easy-to-guess passwords (1234, password, etc.)</strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Common Password Cracking Techniques
            </mat-card-title>
            <mat-card-content>
              <br>
              <strong>Brute force <br>
              Dictionary Search <br>
              Phishing <br>
              Malware <br></strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <!-- <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              List of Potential Defintions
            </mat-card-title>
            <mat-card-content>
              Password
              Password Cracking
            </mat-card-content>
          </mat-card>
          </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Maybe add some traits of a strong password
            </mat-card-title>
            <mat-card-content>
              Longer than 8 characters
              Uppercase and Lowercase Ideas
              Numbers and Special characters
              Avoid reusing a password
              Avoid easy-to-guess passwords (1234, password, etc.)
            </mat-card-content>
          </mat-card>
          </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-right: 100px;">
          <mat-card class = "colored-card">
            <mat-card-title>
              Maybe a list of some common password cracking techniques
            </mat-card-title>
            <mat-card-content>
              Brute force
              Dictionary Search
              Phishing
              Malware
            </mat-card-content>
          </mat-card>
      </mat-grid-tile> -->
    </mat-grid-list>
</div>
