.colored-card:hover{
  /* background-color: #0072BC; mid blue*/
  background-color: #00053E;
  border:  4px solid #FFE500;
  color: white;

}

.colored-card{
  border-radius: 10px;
  /* border: 2px solid #00053E;  dark blue*/
  border: 4px solid #0072BC;
  color:#00053E;
  margin: 50px;
}
