<mat-card class = "colored-card" style="cursor: pointer;  height: 225px" (click)=crackPasswordDetails()>
  <mat-card-title>
    <mat-card-content>
      <br>
      <p style="font-size: xx-large; text-align: center;"><em>Password Cracking</em></p>
      <br>
      <br>
      <em style="text-align: center;"> Explore the world of password cracking! If you select this topic,
        you will be presented with the intriguing world of password implementation!
        You will learn about the fascinating process that consists of
        secure password development and password cracking.</em>
    </mat-card-content>
  </mat-card-title>
</mat-card>
